
    /*==== RESOURCES AND INSIGHTS ====*/
    .resources{
        padding-top: 5rem;
    }

    .SIBAN_resources_img img {
        margin: 0rem;
        width: 100%;
    }

    .siban_content_h2{
        color: #00325D;
        font-size: clamp(1rem, 7vw, 1.5rem);
    }

    .siban_content_p{
        color: #475467;
        font-size: clamp(1rem, 3vw, 1.1rem); 
        text-align: justify;
        line-height: 1.5;
    }

    /* ====BLOG POST EVENT===== */
    
    .hidden {
        display: none;
    }

    #filter {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    #filterSelect {
        display: none;
    }

    #filter .filter_btn{
        border-bottom: 1px solid #808080;
    }
    
    #filter button {
        padding: 10px 20px;
        font-size: 14px;
        background-color: transparent;
        color: #808080;
        border: none;
        cursor: pointer;
        text-align: left;
    }

    #filter button:nth-of-type(1) {
        color: #000;
        font-size: 1rem;
        font-weight: 600;
    }
    
    #filter button:hover {
        color: #0056b3;
    }
    
    
    /* PAGINATION IN UPCOMING EVENT */

    .pagination_blog {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .pagination_blog .pageNumber {
        cursor: pointer;
    }

    .pagination_blog button {
        padding: 10px 20px;
        margin-right: 10px;
        background-color: #0073D7;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .pagination_blog button:hover {
        background-color: #005DAE;
    }
    
    #pageNumbers span {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #0073D7;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    #pageNumbers span:hover {
        background-color: #005DAE;
    }
    
    #pageNumbers .active {
        background-color: #005DAE;
    }

    .pagination-blog .pagination-buttons button{
        background-color: red;
    }


    #filter h2{
        font-size: 1rem;
    }

    #filter_select{
        display: none;
    }

    #results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        /* flex-wrap: wrap; */
    }

    .technology{
        cursor: pointer;
    }
    
    #filter {
        margin-bottom: 20px;
    }

    #filter h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #searchBar {
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px;
    }

    .SIBAN_blog .SIBAN_event_content_2 h3{
        font-size: 20px;
    }

    .SIBAN_blog .SIBAN_event_content_2 p{
        font-size: 15px;
        text-align: justify;
    }


    /*==== BLOG TOPIC ====*/
    #blog_topic,
    .SIBAN_blog_contents{
        width: 60%;
        margin: auto;
        padding-top: 4rem;
    }

    #blog_topic .siban_experience_content_1{
        color: #000;
    }

    #blog_topic 
    .siban_experience_content_1 h2 {
        color: #00325D;
        font-size: clamp(1rem, 6vw, 2rem); 
        font-weight: 500;
    }
    
    .siban_experience_body
    .siban_experience_content_1 p {
        width: 100%;
    }
    
    .SIBAN_blog_container_img img{
        width: 100%;
    }

    
    
    /*===== RELATED BLOG POST ====*/
    .SIBAN_event_blog_topic{
        margin-top: 3rem;
    }
    
    .SIBAN_blog_topic_flex{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        text-align: justify;
    }
    
    .SIBAN_blog_topic_info{
        padding: 1rem;
        position: relative;
        z-index: 1;
    }

    .SIBAN_related_blog h3{
        font-size: 2rem;
        padding-left: 1rem;
    }

    .SIBAN_blog_topic_content img{
        width: 100%;
    }

    .SIBAN_blog_topic_content_2{
        margin-top: 1rem;
    }

    .SIBAN_blog_topic_content_2 h3{
        font-size: clamp(1rem, 4vw, 1.2rem); 
    }
    

    .SIBAN_blog_topic_content_2 p{
        font-size: 1rem;
    }



    @media only screen and (max-width: 450px) {
        #filterButtons {display: none}
        #filterSelect {display: block}

        #results {
            display: block;
            gap: 2rem;
        }
        
        .filter_select {
            margin: 0 auto;
            width: 80%; 
        }
        
        .filter_select select {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            outline: none;
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }
        
        .filter_select select:focus {
            border-color: #007bff;
            box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
        }
        
        .filter_btn_1 {
            margin: 0 auto;
            width: 50%; /* Adjust as needed */
        }
        
        .filter_btn_1 input[type="search"] {
            width: 50%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
            outline: none;
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }
        
        .filter_btn_1 input[type="search"]:focus {
            border-color: #007bff;
            box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
        }


        /* BLOG TOPIC */
        #blog_topic,
        .SIBAN_blog_contents{
            width: 100%;
            padding: 4rem 1.3rem 0rem 1.3rem;
        }

        .SIBAN_experience_img img{
            height: 300px;
        }

        /*===== RELATED BLOG POST ====*/        
        .SIBAN_blog_topic_flex{
            display: block;
        }
        
        
    }
    